@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: middle; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
.header {
  -webkit-box-shadow: 0 1px 9px 1px rgba(228, 228, 228, 0.7);
  box-shadow: 0 1px 9px 1px rgba(228, 228, 228, 0.7);
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1558px;
    width: 100%;
    margin: 23px 157px 12px 205px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase; }
  .header__body, .header a {
    color: #000000; }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 758px;
    width: 100%;
    font-size: 16px;
    margin: 0 auto; }
    .header__menu li a:hover {
      color: #ff7200; }
    @media (max-width: 991px) {
      .header__menu {
        display: none; } }
  .header__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 436px;
    width: 100%; }
    .header__phone p a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .header__phone p a:before {
        content: url("/img/header/smartphone-call.png");
        margin: 10px 13px 0 0; }
    .header__phone button {
      width: 218px; }
  .header__mobile {
    display: none; }
    @media (max-width: 991px) {
      .header__mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 200px;
        margin-left: 35px; } }

@media (max-width: 767px) {
  .header {
    height: 100px; }
    .header__body {
      margin: 0 auto;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      padding: 0 20px; }
    .header__phone {
      display: none; } }

.footer {
  background-color: #242424; }
  .footer__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1164px;
    width: 100%;
    margin: 0 auto;
    padding: 36px 20px; }
    .footer__body p {
      color: #f7f7f7;
      font-size: 22px; }
      .footer__body p:first-child {
        width: 285px; }

@media (max-width: 767px) {
  .footer__body {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
    .footer__body p {
      margin: 35px; } }

.forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
  height: 580px; }
  .forms__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }
  .forms__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1170px;
    width: 100%;
    height: 422px;
    background-color: #1e1e1e;
    opacity: 0.9;
    color: #f7f7f7;
    padding: 35px 50px 25px 100px; }
    .forms__block a {
      color: #f7f7f7; }
    .forms__block hr {
      width: 2px;
      height: 362px;
      background-color: #ffffff; }
  .forms__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 258px;
    width: 100%;
    margin-right: 210px; }
    .forms__contacts h2 {
      text-align: left;
      padding-top: 16px; }
    .forms__contacts p {
      color: #f7f7f7;
      font-size: 18px; }
      .forms__contacts p a {
        font-size: 30px;
        font-weight: 700; }
      .forms__contacts p:last-child {
        font-weight: 700; }
        .forms__contacts p:last-child:after {
          content: url("/img/forms/whatsapp.png");
          position: absolute;
          margin: 2px 0 0 10px; }
  .forms__contact {
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding-bottom: 6px; }
    .forms__contact p:first-child {
      width: 202px; }
    .forms__contact p:last-child {
      margin-top: 27px; }
  .forms__bg {
    background-image: url("/img/forms/forms.jpg"); }
  .forms__form {
    padding: 16px 0 10px 30px; }
    .forms__form p:first-child {
      font-weight: 700; }
    .forms__form p:nth-child(2) {
      max-width: 427px;
      width: 100%;
      margin-top: 15px; }
    .forms__form button {
      margin-top: -10px;
      width: 270px;
      height: 56px; }
    .forms__form form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-top: 18px;
      width: 520px; }
      .forms__form form input {
        width: 245px;
        height: 40px;
        border: 1px solid #ffffff;
        background-color: #242424;
        color: #f7f7f7;
        font-size: 20px;
        padding: 15px; }
      .forms__form form p {
        padding: 25px 0 17px 0; }
  .forms__files {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%; }
    .forms__files input[name="address"] {
      width: 368px; }
    .forms__files label {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      width: 152px;
      height: 40px;
      border: 1px solid #ffffff;
      border-left: none;
      background-color: #242424;
      padding-right: 30px;
      cursor: pointer; }
      .forms__files label:hover {
        background-color: #111; }
  .forms #load {
    visibility: hidden; }

@media (max-width: 1200px) {
  .forms__block {
    display: -ms-grid;
    display: grid;
    height: 100%;
    padding: 20px; }
    .forms__block hr {
      width: 100%;
      height: 2px;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
  .forms__form {
    padding: 0; } }

@media (max-width: 767px) {
  .forms {
    height: 100%; }
    .forms__form form, .forms__form button {
      width: 100%; }
      .forms__form form input, .forms__form button input {
        width: 100%;
        margin-bottom: 10px; }
    .forms__contacts {
      display: -ms-grid;
      display: grid;
      max-width: 100%;
      margin-right: 0; }
    .forms__files input[name="address"],
    .forms__files label {
      width: 100%; }
    .forms__files label {
      border: 1px solid #ffffff; } }

.forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
  height: 580px; }
  .forms__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }
  .forms__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1170px;
    width: 100%;
    height: 422px;
    background-color: #1e1e1e;
    opacity: 0.9;
    color: #f7f7f7;
    padding: 35px 50px 25px 100px; }
    .forms__block a {
      color: #f7f7f7; }
    .forms__block hr {
      width: 2px;
      height: 362px;
      background-color: #ffffff; }
  .forms__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 258px;
    width: 100%;
    margin-right: 210px; }
    .forms__contacts h2 {
      text-align: left;
      padding-top: 16px; }
    .forms__contacts p {
      color: #f7f7f7;
      font-size: 18px; }
      .forms__contacts p a {
        font-size: 30px;
        font-weight: 700; }
      .forms__contacts p:last-child {
        font-weight: 700; }
        .forms__contacts p:last-child:after {
          content: url("/img/forms/whatsapp.png");
          position: absolute;
          margin: 2px 0 0 10px; }
  .forms__contact {
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding-bottom: 6px; }
    .forms__contact p:first-child {
      width: 202px; }
    .forms__contact p:last-child {
      margin-top: 27px; }
  .forms__bg {
    background-image: url("/img/forms/forms.jpg"); }
  .forms__form {
    padding: 16px 0 10px 30px; }
    .forms__form p:first-child {
      font-weight: 700; }
    .forms__form p:nth-child(2) {
      max-width: 427px;
      width: 100%;
      margin-top: 15px; }
    .forms__form button {
      margin-top: -10px;
      width: 270px;
      height: 56px; }
    .forms__form form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-top: 18px;
      width: 520px; }
      .forms__form form input {
        width: 245px;
        height: 40px;
        border: 1px solid #ffffff;
        background-color: #242424;
        color: #f7f7f7;
        font-size: 20px;
        padding: 15px; }
      .forms__form form p {
        padding: 25px 0 17px 0; }
  .forms__files {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%; }
    .forms__files input[name="address"] {
      width: 368px; }
    .forms__files label {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      width: 152px;
      height: 40px;
      border: 1px solid #ffffff;
      border-left: none;
      background-color: #242424;
      padding-right: 30px;
      cursor: pointer; }
      .forms__files label:hover {
        background-color: #111; }
  .forms #load {
    visibility: hidden; }

@media (max-width: 1200px) {
  .forms__block {
    display: -ms-grid;
    display: grid;
    height: 100%;
    padding: 20px; }
    .forms__block hr {
      width: 100%;
      height: 2px;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
  .forms__form {
    padding: 0; } }

@media (max-width: 767px) {
  .forms {
    height: 100%; }
    .forms__form form, .forms__form button {
      width: 100%; }
      .forms__form form input, .forms__form button input {
        width: 100%;
        margin-bottom: 10px; }
    .forms__contacts {
      display: -ms-grid;
      display: grid;
      max-width: 100%;
      margin-right: 0; }
    .forms__files input[name="address"],
    .forms__files label {
      width: 100%; }
    .forms__files label {
      border: 1px solid #ffffff; } }

.btn-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background-color: #ff7200;
  color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 5px; }
  .btn-burger span {
    position: absolute;
    background: #fff;
    width: 35px;
    height: 2px;
    -webkit-transition: 0.1s ease-out 0.1s;
    -moz-transition: 0.1s ease-out 0.1s;
    -o-transition: 0.1s ease-out 0.1s;
    transition: 0.1s ease-out 0.1s; }
    .btn-burger span:first-child {
      margin-top: -10px; }
    .btn-burger span:last-child {
      margin-top: 10px; }
  .btn-burger .active:first-child, .btn-burger .active:last-child {
    margin: 0; }
  .btn-burger .active:first-child {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .btn-burger .active:last-child {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .btn-burger .active:nth-child(2) {
    width: 0; }

.mobile {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 100px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 2;
  padding: 20px; }
  .mobile hr {
    height: 1px;
    background: #ccc;
    margin: 20px 0; }
  .mobile__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto; }
  .mobile__number {
    font-weight: 900; }
  .mobile__menu {
    font-size: 25px; }
    .mobile__menu li {
      padding: 0 20px;
      margin-top: 15px; }
      .mobile__menu li a {
        color: #000; }

@media (max-width: 767px) {
  .mobile__phone {
    max-width: 436px;
    width: 100%; }
    .mobile__phone p a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #000; }
      .mobile__phone p a:before {
        content: url("/img/header/smartphone-call.png");
        margin: 10px 13px 0 0; }
    .mobile__phone button {
      width: 218px; } }

@font-face {
  font-family: 'Akrobat';
  src: url("/fonts/Akrobat.eot");
  src: local("☺"), url("/fonts/Akrobat.woff") format("woff"), url("/fonts/Akrobat.ttf") format("truetype"), url("/fonts/Akrobat.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Dadson';
  src: local("/fonts/Mr Palker Dadson Condensed Black"), local("/fonts/Mr-Palker-Dadson-Condensed-Black"), url("/fonts/MrPalkerDadsonCond-Black.woff2") format("woff2"), url("/fonts/MrPalkerDadsonCond-Black.woff") format("woff"), url("/fonts/MrPalkerDadsonCond-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.forms__bg, .main__bg, .services__bg, .reviews__bg, .contacts__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

button {
  background-color: #ff7200;
  color: #ffffff;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  font-size: 20px;
  height: 56px; }
  button:hover {
    background-color: #ff4700;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 82, 0, 0.5);
    box-shadow: 0px 0px 20px 0px rgba(255, 82, 0, 0.5);
    -webkit-transition: 0.1s ease-out 0.1s;
    -moz-transition: 0.1s ease-out 0.1s;
    -o-transition: 0.1s ease-out 0.1s;
    transition: 0.1s ease-out 0.1s; }

h2 {
  color: #f7f7f7;
  font-family: 'Dadson';
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center; }

#up {
  position: fixed;
  z-index: 999;
  bottom: 0;
  right: 50px;
  display: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  overflow: hidden;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }
  #up .arrow {
    background: #ff4700;
    height: 50px;
    width: 50px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: -25px; }
    #up .arrow span {
      position: absolute;
      top: 50px;
      text-transform: uppercase; }
    #up .arrow:hover {
      background: #ff4700b3;
      -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 0, 0, 0.5);
      box-shadow: 0px 0px 20px 0px rgba(255, 0, 0, 0.5);
      color: #333;
      background-color: #ff4700;
      -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 82, 0, 0.5);
      box-shadow: 0px 0px 20px 0px rgba(255, 82, 0, 0.5);
      -webkit-transition: 0.1s ease-out 0.1s;
      -moz-transition: 0.1s ease-out 0.1s;
      -o-transition: 0.1s ease-out 0.1s;
      transition: 0.1s ease-out 0.1s; }

.wrapper {
  max-width: 1920px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'Akrobat';
  font-size: 20px;
  background: #f7f7f7; }

.container {
  margin: 0 auto; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
  height: 604px; }
  .main__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center; }
    .main__body h1, .main__body p {
      max-width: 554px;
      width: 100%;
      color: #ffffff; }
    .main__body h1 {
      font-family: 'Dadson';
      font-size: 36px;
      text-transform: uppercase;
      margin-top: 70px; }
    .main__body p {
      font-size: 18px;
      font-weight: 400;
      margin: 35px 0; }
    .main__body button {
      width: 276px;
      margin-bottom: 66px; }
  .main__line {
    width: 2px;
    height: 62px;
    background-color: #ffffff;
    margin: 0 auto; }
  .main__bg {
    background-image: url("/img/main/main.jpg"); }

.advs {
  background-color: #141414; }
  .advs__body {
    max-width: 1141px;
    width: 100%;
    margin: 0 auto;
    padding: 84px 0 72px 0; }
  .advs__rows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 58px; }
  .advs__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 16.666%;
    flex: 1 1 16.666%;
    margin: 23px 0; }
    @media (max-width: 425px) {
      .advs__column {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
  .advs__img {
    margin-right: 16px; }
  .advs__text {
    color: #f7f7f7;
    font-size: 20px; }
    .advs__text h3 {
      font-weight: 700;
      line-height: 36px;
      height: 56px;
      margin-top: -5px;
      line-height: 1.2; }
    .advs__text p {
      font-weight: 400;
      width: 260px; }

.services {
  position: relative;
  height: 767px; }
  .services__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: relative;
    z-index: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;
    padding-top: 75px; }
    .services__body:before, .services__body:after {
      content: url("/img/services/line.png"); }
    .services__body:before {
      margin-right: 19px; }
    .services__body:after {
      margin-left: 19px; }
  .services__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 8px 17px 15px 30px; }
    @media (max-width: 1030px) {
      .services__menu {
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly; } }
    .services__menu li a {
      color: #f7f7f7;
      font-size: 20px;
      font-weight: 700;
      line-height: 36px; }
    .services__menu li:first-child a {
      color: #919191; }
    .services__menu li:nth-child(2) {
      margin-left: -60px; }
  .services__line {
    width: 1030px;
    height: 2px;
    background-color: #ffffff; }
  .services__rows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  @media (max-width: 1030px) {
    .services__img {
      display: none; } }
  .services__text {
    max-width: 600px;
    width: 100%;
    height: 521px;
    -webkit-box-shadow: 0 1px 9px 1px rgba(228, 228, 228, 0.7);
    box-shadow: 0 1px 9px 1px rgba(228, 228, 228, 0.7);
    background-color: #f7f7f7;
    padding: 27px 28px 34px 29px;
    color: #131313;
    font-size: 20px;
    font-weight: 400; }
    @media (max-width: 600px) {
      .services__text {
        padding: 27px 15%; } }
    .services__text h4 {
      font-weight: 700;
      line-height: 36px;
      margin-bottom: 5px; }
    .services__text ul li:before {
      content: url("/img/services/ellips.png");
      margin: 0 12px 0 11px; }
    .services__text button {
      width: 270px; }
  .services__cost {
    color: #ff7200;
    font-size: 24px;
    font-weight: 700;
    margin: 12px 0 20px 0; }
  .services__bg {
    background-image: url("/img/services/services.jpg"); }

.prices__body {
  max-width: 770px;
  width: 100%;
  color: #161616;
  line-height: 30px;
  margin: 0 auto;
  padding: 65px 0 56px 0; }
  .prices__body h2 {
    color: #161616; }

.prices__list {
  margin-top: 40px; }
  .prices__list h4 {
    font-weight: 700; }

.prices__headers, .prices__columns {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .prices__headers h4, .prices__headers ul, .prices__columns h4, .prices__columns ul {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    padding: 0 15px; }
    .prices__headers h4:first-child, .prices__headers ul:first-child, .prices__columns h4:first-child, .prices__columns ul:first-child {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; }

.prices__columns {
  margin-top: 15px; }

.prices__line_top, .prices__line_bottom {
  border: 1px solid #161616; }

.prices__line_top {
  margin: 10px 0 25px 0; }

.prices__line_bottom {
  margin: 30px 0; }

.prices__show {
  text-align: center;
  margin-top: 47px;
  padding: 12px 0; }
  .prices__show a {
    border: 1px solid #1e1e1e;
    color: #161616;
    font-weight: 700;
    padding: 14px 35px; }
    .prices__show a:hover {
      background: #161616;
      color: #f7f7f7;
      border: none; }

.works__body {
  max-width: 1165px;
  width: 100%;
  margin: 0 auto;
  padding: 63px 0 70px 0; }
  .works__body h2 {
    color: #161616; }
  .works__body h5 {
    font-weight: 700; }

.scheme__rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 63px; }

.scheme__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }
  .scheme__column:first-child {
    margin-top: -25px;
    width: 567px; }
  .scheme__column:last-child {
    width: 458px; }

.scheme__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px; }

.scheme__img {
  margin-right: 30px; }
  .scheme__img span {
    position: absolute;
    font-family: 'Dadson';
    font-size: 36px; }

.scheme__text p {
  margin-top: 15px; }
  .scheme__text p:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.scheme__from {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .scheme__from h5 {
    margin-left: 30px; }

.scheme__circle {
  width: 170px;
  height: 170px;
  background-color: #1e1e1e;
  border-radius: 50%; }

.scheme__descr {
  margin-top: 45px; }
  .scheme__descr p:last-child {
    margin-top: 35px; }

.scheme__name {
  margin-top: 40px; }

.guarantees {
  margin-top: 80px; }
  .guarantees__rows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: flex;
    margin: 50px -21px 0 -20px; }
  .guarantees__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    padding: 0 20px; }
  .guarantees__img_1, .guarantees__img_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    background-color: #ededed;
    border-radius: 50%;
    margin-right: 40px; }
  .guarantees__img_1 {
    padding: 26px 26px 37px 37px; }
  .guarantees__img_2 {
    padding: 28px 24px 32px 36px; }

.about__body {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 70px 0 102px 0; }
  .about__body h2 {
    color: #161616;
    font-family: 'Dadson';
    font-size: 22px;
    line-height: 36px;
    text-transform: uppercase; }

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 58px;
  padding-bottom: 95px; }
  .about__content hr {
    width: 2px;
    height: 370px;
    background-color: #141414; }

.about__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative; }
  .about__img img:first-child {
    width: 100%;
    height: auto; }
  .about__img img:last-child {
    position: absolute; }

.about__text {
  max-width: 664px;
  width: 100%; }
  .about__text p {
    color: #161616;
    margin-top: 33px; }
    .about__text p:first-child {
      font-weight: 700;
      margin: 0; }

.about__inst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 66px; }

.reviews {
  position: relative; }
  .reviews__body {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #f7f7f7;
    padding: 77px 0;
    max-width: 1030px;
    width: 100%;
    margin: 0 auto; }
  .reviews__img {
    margin: 50px 0; }
  .reviews__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .reviews__text p {
      max-width: 771px;
      width: 100%; }
    .reviews__text span {
      width: 100px;
      height: 2px;
      background-color: #f7f7f7;
      margin: 12px 0; }
  .reviews__author {
    margin-top: 20px; }
    .reviews__author p:first-child {
      font-weight: 700; }
  .reviews__bg {
    background-image: url("/img/reviews/reviews.jpg"); }

.contacts {
  position: relative; }
  .contacts__body {
    position: relative;
    z-index: 1; }
  .contacts__info {
    width: 430px;
    height: auto;
    -webkit-box-shadow: 0 1px 9px 1px rgba(228, 228, 228, 0.7);
    box-shadow: 0 1px 9px 1px rgba(228, 228, 228, 0.7);
    background-color: #f7f7f7;
    color: #1d1d1d;
    padding: 52px 30px 60px 32px;
    margin: 80px 20%; }
    .contacts__info h2 {
      color: #1d1d1d;
      text-align: left;
      margin-bottom: 40px; }
    .contacts__info h3 {
      font-weight: 700; }
    .contacts__info hr {
      width: 100%;
      height: 2px;
      background-color: #242424;
      margin: 32px 0; }
  .contacts__connection {
    margin-top: 15px; }
    .contacts__connection li img {
      margin-right: 15px; }
    .contacts__connection li a {
      color: #1d1d1d;
      line-height: 36px; }
    .contacts__connection li:first-child img {
      padding: 0 4px; }
  .contacts__address {
    margin-top: 30px; }
    .contacts__address li {
      line-height: 36px; }
      .contacts__address li img {
        margin-right: 14px; }
      .contacts__address li:first-child img {
        padding: 0 2px; }
  .contacts__bg {
    background-image: url("/img/contacts/maps.jpg"); }

@media (max-width: 1200px) {
  .scheme__rows {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }
  .scheme__from {
    margin-top: 35px; }
  .guarantees__rows {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    padding: 0 20px; }
  .guarantees__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto; }
  .about__content {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }
  .about__inst {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .contacts__info {
    margin: 20px; } }

@media (max-width: 992px) {
  .reviews__text {
    display: -ms-grid;
    display: grid;
    padding: 0 20px; }
    .reviews__text p {
      max-width: 100%; }
    .reviews__text span {
      margin: 20px auto; }
  .contacts__info {
    width: 100%;
    margin: 0; }
    .contacts__info h2 {
      text-align: center; }
  .contacts__bg {
    background-size: 100%;
    position: relative;
    height: 310px; }
  .contacts__rows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: .contacts__rows jc;
    -ms-flex-pack: .contacts__rows jc;
    justify-content: .contacts__rows jc;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center; }
    .contacts__rows hr {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
      flex: 0 0 10%;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
  .contacts__cols {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%; } }

@media (max-width: 767px) {
  .advs__column {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 30px; }
  .advs__text {
    margin-top: 20px; }
  .services {
    height: 100%; }
    .services__text {
      height: 100%; }
      .services__text button {
        width: 100%; }
    .services__menu {
      display: -ms-grid;
      display: grid; }
      .services__menu li:nth-child(2) {
        margin-left: 0; }
  .prices__headers, .prices__columns {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .prices__headers h4, .prices__headers ul, .prices__columns h4, .prices__columns ul {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 0 6px;
      font-size: 16px; }
      .prices__headers h4:first-child, .prices__headers ul:first-child, .prices__columns h4:first-child, .prices__columns ul:first-child {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto; }
  .scheme__column:first-child, .scheme__column:last-child {
    width: 100%;
    padding: 0 20px; }
  .scheme__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .guarantees__column {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .guarantees__img_1 {
    margin: 0 auto 20px; }
  .guarantees__img_2 {
    margin: 20px auto; }
  .about__content {
    display: -ms-grid;
    display: grid;
    padding-bottom: 50px; }
    .about__content hr {
      height: 100px;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      margin: 0 auto; }
  .about__text {
    padding: 0 15px; }
  .contacts__info {
    padding: 50px 20px; }
    .contacts__info h2 {
      margin: 0; }
  .contacts__bg {
    display: none; }
  .contacts__rows hr {
    display: none; }
  .contacts__cols {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-top: 35px; } }
